<div data-target="feeds" id="a" data-load="replace">
  <ul>
    <li>Something droll</li>
    <li>Latest news</li>
    <li>Watch out behind you!</li>
    <li><%=link_to("Update Page", "/dynamic_update", :remote=>true)%>
  </ul>
</div>

<ul data-target="mainstuff">
  <li><b>Thomas of Bayeux</b> <em>(died 18 November 1100)</em> was Archbishop of York from 1070 until 1100. A native of Bayeux, he was educated at Liège and became a royal chaplain to Duke William of Normandy, who would later become King William I of England. After the Norman Conquest, the king nominated Thomas to succeed Ealdred as Archbishop of York.</li>
</ul>
